<!DOCTYPE html>
<html>

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block styles %}
  <!-- Bootstrap CSS -->
  {{ bootstrap.load_css() }}
  <style>
    body {
      background: linear-gradient(to right, #c04848, #480048);
      min-height: 100vh
    }

    .text-gray {
      color: #aaa
    }

    img {
      height: 170px;
      width: 140px
    }
  </style>
  {% endblock %}

  <title>Search product with image</title>
  {% endblock %}
  <script>

    document.addEventListener('DOMContentLoaded', () => {

      // console.log(`copied '${value}' to clipboard`);

      const btn = document.getElementById('paste-button')

      btn.addEventListener('click', async () => {

        try {
          const clipboardItems = await navigator.clipboard.read();
          for (const clipboardItem of clipboardItems) {
            const imageTypes = clipboardItem.types.find(type => type.startsWith('image/'))
            const blob = await clipboardItem.getType(imageTypes);

            const response = await fetch('/api/search', {
              method: 'POST',
              body: blob,

            })

            document.getElementById('result').innerHTML = await response.text()
              
            console.log(response.text())
          }
        } catch (err) {
          console.error(err.name, err.message);
        }
      })

      const previewIMG = document.getElementById('search-image-preview')

      document.onpaste = async function (event) {

        console.log(event)

        try {
          // const clipboardItems = await navigator.clipboard.read();
          for (const clipboardItem of event.clipboardData.items) {


            console.log(clipboardItem)
            if (clipboardItem.type.indexOf('image/') === 0) {
              previewIMG.src = URL.createObjectURL(clipboardItem.getAsFile());

            }

            event.preventDefault()

          }
        } catch (err) {
          console.error(err.name, err.message);
        }

      }


    })


  </script>
</head>

<body>

  <div class="container py-5">
    <div class="row text-center text-white mb-5">

      <div>
        <a href="/product" class="btn btn-primary"> Add product </a>
      </div>
    </div>
    <div class="row text-center text-white mb-5">

      <div>
        <button type="button" id="paste-button" class="btn btn-primary">Search</button>
        <img id="search-image-preview" width="200" height="200" />
      </div>
    </div>

  </div>

  <div class="col-lg-8 mx-auto" id="result">

  </div>

  </div>



</body>

</html>