<!DOCTYPE html>
<html>


<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% block styles %}
  <!-- Bootstrap CSS -->
  {{ bootstrap.load_css() }}

  <style>
    body {
      background: linear-gradient(to right, #c04848, #480048);
      min-height: 100vh
    }

    .text-gray {
      color: #aaa
    }

    img {
      height: 170px;
      width: 140px
    }
  </style>
  {% endblock %}

  <title>Search product with image</title>

  <script>

    document.addEventListener('DOMContentLoaded', function () {
      const formFileLg = document.getElementById('formFileLg')
      const preview = document.getElementById('formFileLg-preview')
      formFileLg.onchange = evt => {
        const [file] = formFileLg.files
        if (file) {
          preview.src = URL.createObjectURL(file)
        }
      }
    })

  </script>
  {% endblock %}
</head>

<body>
  <div class="container py-5">
    <div class="row text-center text-white mb-5">
      <div class="col-lg-7 mx-auto">
        <h1 class="display-4">Product List</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form action="/generate" method="post">

          <div class="form-group">
            <button type="submit" class="btn btn-danger">Update data</button>
          </div>
        </form>
        <form action="/create-product" method="post" enctype=multipart/form-data>


          <div class="form-group">
            <label for="formFileLg" class="form-label">Product image</label>
            <input class="form-control form-control-lg" id="formFileLg" type="file" name="product-image">
          </div>
          <div class="form-group">
            <img id="formFileLg-preview" src="#" alt="your image" />
          </div>

          <div class="form-group">
            <label for="product-name" class="form-label">Product Name</label>
            <textarea class="form-control form-control-lg" name="name" id="product-name"></textarea>
          </div>

          <div class="form-group">
            <label for="product-description" class="form-label">Product Description</label>
            <textarea class="form-control form-control-lg" name="description" id="product-description"></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create Product</button>
          </div>

        </form>


      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <!-- List group-->
        <ul class="list-group shadow">
          <!-- list group item-->
          {% for product in products %}

          <li class="list-group-item">
            <!-- Custom content-->
            <div class="media align-items-lg-center flex-column flex-lg-row p-3">
              <div class="media-body order-2 order-lg-1">
                <h5 class="mt-0 font-weight-bold mb-2">{{ product["name"] }}</h5>
                <p class="font-italic text-muted mb-0 small">{{ product["description"] }} </p>
                <div class="d-flex align-items-center justify-content-between mt-1">
                  <ul class="list-inline small">
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                    <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                  </ul>
                </div>
              </div><img src="{{ url_for('static', filename=product['path'])  }}" alt="Generic placeholder image"
                width="200" class="ml-lg-5 order-1 order-lg-2">
            </div> <!-- End -->
          </li> <!-- End -->

          {% endfor %}
        </ul> <!-- End -->
      </div>
    </div>
  </div>
</body>

</html>